<!DOCTYPE html>
<html>
<head>
  <title>Furukawa</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="application.scss">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129331504-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129331504-1');
</script>

</head>
  <div class = "cover">
  <header>
    <div class ="Blogs-menus">
      <% if @current_paper %>
      <li><%= link_to(@current_paper.name, "/papers/#{@current_paper.id}") %></li>
        <li><%= link_to("投稿一覧", "/blogs/index") %></li>
        <li><%= link_to("新規投稿", "/blogs/new") %></li>
        <li><%= link_to("権限付与", "/papers/signup") %></li>
        <li><%= link_to("権限一覧", "/papers/index") %></li>
        <li><%= link_to("ログアウト", "/papers/logout", {method: :post}) %></li>
        <% end %>
      </div>

      <div class="header-logo">
        <a href="/top"><<img src="/ロゴ＋文字1列.png"  alt="トップへ戻る" /></a>
      </div>
    <div class="header-menus">
      <% if @current_user %>
      <ul>
      <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
      <li><%= link_to("投稿一覧", "/posts/index") %></li>
      <li><%= link_to("新規投稿", "/posts/new") %></li>
      <li><%= link_to("ユーザー一覧", "/users/index") %></li>
      <li><%= link_to("ログアウト", "/users/logout", {method: :post}) %></li>
      <% else %>
      <li><%= link_to("Blog", "/blogs/index") %></li>
      <li><%= link_to("Our Project", "/home/service") %></li>
      <li><%= link_to("contact", "/inquiries/index") %></li>
      <li><%= link_to("message", "/home/message") %></li>
      <li><%= link_to("新規登録", "/users/signup") %></li>
      <li><%= link_to("ログイン", "/users/login") %></li>
      <% end %>
    </div>

      <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <% if @current_user %>
      <ul>
      <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
      <li><%= link_to("投稿一覧", "/posts/index") %></li>
      <li><%= link_to("新規投稿", "/posts/new") %></li>
      <li><%= link_to("ユーザー一覧", "/users/index") %></li>
      <li><%= link_to("ログアウト", "/users/logout", {method: :post}) %></li>
      <% else %>
      <li><%= link_to("Blog", "/blogs/index") %></li>
      <li><%= link_to("Our Project", "/home/service") %></li>
      <li><%= link_to("contact", "/inquiries/index") %></li>
      <li><%= link_to("message", "/home/message") %></li>
      <li><%= link_to("新規登録", "/users/signup") %></li>
      <li><%= link_to("ログイン", "/users/login") %></li>
      <% end %>
    </div>
</div>
  </header>
  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
  <div class="clear"></div>
  <footer>
    <div class="container">
      <a href="/top"><<img src="/ロゴ＋文字1列.png"  alt="トップへ戻る" /></a>
    </div>
    <div class = "blogs-login">
  <h5>  <%= link_to("権限者ログイン", "/papers/login") %></h5>
</div>
</div>
  </footer>
